---
layout: blog
title: Twenty Minute Summaries
pagination:
  enabled: true
  category: twentyminsum
---
<h1>Posts in the Twenty Minute Summaries Category</h1>
<ul>
  {% for post in site.categories.twentyminsum %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
      <p><small>Published on {{ post.date | date: "%B %d, %Y" }}</small></p>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
      <p><small>Published on {{ post.date | date: "%B %d, %Y" }}</small></p>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</div>
