<section id="about" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-star-o"></i> About</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-sm-12 col-md-6">
					Hi! I'm Amalie and I am an astrophysics graduate student studying the stars in our own Galaxy, the Milky Way. I am currently studying at the <a href="https://sac.phys.au.dk">Stellar Astrophysics Centre</a> at <a href="https://au.dk">Aarhus University</a>, Denmark. My primary research interest is the field of Galactic archaeology where by studying the demographics of stars, we learn about the history and evolution of our Milky Way.
				</div>
				<div class="col-sm-12 col-md-6">
					Besides studying stars, I enjoy running, playing around with small coding projects, writing songs and designing props and backdrops for <a href="https://taagekammeret.dk/galleri/2019/julerevy">TÅGEKAMMERETs student revue</a>, and drinking a beer or two with friends.
				</div>
				<div class="col-sm-12" id="counter">
					<div class="row" >
						{% for c in site.counter %}
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="counter" style="margin-bottom:50px">
								<h1 class="title"><b>{{ c.prefix }}<span class="counter-value" data-duration="{{ c.duration }}" data-count="{{ c.count }}">0</span></b></h1>
								<h5 class="desc"><b>{{ c.title }}</b></h5>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
