<section id="about" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-star-o"></i> About</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md text-justify">
				<div class="col-2 col-md-1">
				<img src="images/profil_amaliestokholm.jpg" style="height: 200px; border-radius: 10%;border: 10px solid #FEDE00;" alt="Profile picture of Dr. Amalie Stokholm">
				</div>
				<div class="col-5">
					Hi! I'm Amalie and I am a research fellow in astrophysics.<br><br>
					My main scientific focus is on <i>Galactic archaeology</i>, which involves uncovering the history and evolution of the Milky Way by examining the characteristics and distributions of its stars. I am part of the <a href="https://erc.easme-web.eu/?p=804752" target="_blank">CartographY</a> group at <a href="https://birmingham.ac.uk" target="_blank">University of Birmingham</a>.<br><br>

					My research focuses on utilizing stellar inference in various contexts, particularly on stellar populations. This involves combining the orbital and chemical data of stars with ages determined through the study of stellar pulsations, known as asteroseismology. The integration of these observations enables us to conduct detailed analyses of the Milky Way.<br><br>
				</div>
				<div class="col-5">
					Precise and accurate stellar inference is key to my work. I am also part of the core developement team of <a href="github.com/BASTAcode/BASTA" target="_blank">BAyesian STellar Algorithm (BASTA)</a>, which is a flexible pipeline for the inference of stellar properties, such as the masses, radii, and ages of stars.<br><br>

					When I am not studying stars, I enjoy running, playing chess, watching musicals, and puzzling with coding projects.<br><br>
					Currently, I am working on the litterature puzzle known as Cain's Jawbone, which is taking up most of my spare time. If you are also struggling with the references to Kipling, Wilde, and Sherlock Holmes, and the many Henrys, feel free to write me.<br><br>

				</div>
				<div class="col-sm-12" id="counter">
					<div class="row" >
						{% for c in site.counter %}
						<div class="col-sm-6 col-sm-3">
							<div class="counter" style="margin-bottom:50px">
								<h1 class="title"><b>{{ c.prefix }}<span class="counter-value" data-duration="{{ c.duration }}" data-count="{{ c.count }}">0</span></b></h1>
								<h5 class="desc"><b>{{ c.title }}</b></h5>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
