<section id="about" class="container content-section text-center">
	<div id="about_change" class="row">
		<h2 class="category-heading alt-font"><i class="fa fa-star-o"></i > About</h2>
	</div>
	<div class="row">
		<hr class="section-heading-spacer" align="left">
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-lg-5 col-sm-6">
			Hej med dig
		</div>
		<div class="col-lg-5 col-lg-offset-2 col-sm-6">
			<h2 class="section-heading">&nbsp</h2>
			<img class="img-responsive center-block" src="img/me-at-mount-wilson.jpg"     alt="">
		</div>
	</div>
</section>
