<section id="aboutblog" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-pencil-square-o"></i> Blog</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-sm-12 col-md-6">
					Occasionally, I upload small text bits here to the internet.
					This will be uploaded to my <a href="/blog/">blog</a>.
				</div>
				<div class="col-sm-12 col-md-6">
				</div>
			</div>
		</div>
	</div>
</section>
