<!-- Footer -->
<footer>
	<div class="container alt-font">
		<div class="row">
			<div class="col-lg">
				<ul class="list-inline text-center">
					<li class="list-inline-item">
						<a class="page-scroll" href="#home">Home</a>
					</li>
					<li class="list-inline-item">
						<a class="page-scroll" href="#about">About</a>
					</li>
					<li class="list-inline-item">
						<a class="page-scroll" href="#experiences">Experiences</a>
					</li>
					<li class="list-inline-item">
						<a class="page-scroll" href="#instagram">Life</a>
					</li>
					<li class="list-inline-item">
						<a class="page-scroll" href="#projects">Projects</a>
					</li>
					<li class="list-inline-item">
						<a class="page-scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div align="center">
			<p class="copyright text-muted small">Copyright &copy; {{ site.author }} 2018.</p>
			<p class="copyright text-muted small">Last updated in August 2018.</p>
		</div>
	</div>
</footer>
