<section id="life">
	<div class="content-section-b">
		<div class="container">
			<div class="row">
				<h2 class="category-heading alt-font"><a href="https://instagram.com/amalie.stokholm"><i class="fa fa-instagram"></i> Life</a></h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<div id="insta_container" style="text-align:center">
					<div id="instafeed"> </div>

					<script type="text/javascript">
						var feed = new Instafeed({
							accessToken: IGQVJWRmNIbVJGN2x5SnNHY1IxUDg1MFREQ3ZAXTG9qYmd1QlMtTzdNVzdsanloVGFhVm5EemdVZAkVXWk9xYk4yUjNiWmhIMXp1ZAXE1bllmakdNOE9qRTZAOem9TZAkZAPYUM3WlBqNVpJUFM1NzFhM2NkUFRMZAjN0SzY4VkpR
						});
				feed.run();
					</script>
				</div>
			</div>
		</div>
	</div>
</section>
