<section id="outreach" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-pencil-square-o"></i> Outreach & Press</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-sm-12 col-md-6">
					<h3 class="category-heading alt-font"><i class="fa fa-pencil-square-o"></i> Outreach and talks</h3>
					- Public lectures '
					- Talks at Astronomy on Tap Aarhus
					<h3 class="category-heading alt-font"><i class="fa fa-pencil-square-o"></i> Press releases</h3>
					- <i>Subgiant in the spotlight: characterising a new benchmark star</i>, <a href="https://astrobites.org/2019/08/16/subgiant-in-the-spotlight-characterising-a-new-benchmark-star/">Astrobites</a>
					- <i>Oldgammel stjerne gemte på hemmelighed: Blev dannet da galakser kolliderede</i>, <a href="https://www.dr.dk/nyheder/viden/teknologi/oldgammel-stjerne-gemte-paa-hemmelighed-blev-dannet-da-galakser-kolliderede">Danmarks radio, dr.dk</a>
				</div>
				<div class="col-sm-12 col-md-6">
				</div>
			</div>
		</div>
	</div>
</section>
