<section id="outreach" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-rocket"></i> Outreach & Press</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					<h4 class="category-heading alt-font">Outreach and talks</h4>
					<ul class="list-group">
						<li class="list-group-item border-0">Invited guest speaker at <a href="https://www.sr.bham.ac.uk/observatory/astronomyinthecity.php" target="_blank">Astronomy in the City</a> event in Birmingham, speaking about <i>The Story Written in the Stars</i>.</li>
						<li class="list-group-item border-0">Invited lecturer in the lecture series <i>Universets gåder</i> (en: <i>Riddles of the Universe</i>) at <a href="fuau.dk" target="_blank">Folkeuniversitetet</a> on the topic of <i>Hvordan er vores egen Galakse blevet til?</i> (en: <i>How has our own Galaxy come to be?</i>. Lectures in Copenhagen, Aarhus, Herning, and Kolding.</li>
						<li class="list-group-item border-0">Speaker at <a href="https://astronomyontap.org/locations/aarhus-denmark/" target="_blank">Astronomy on Tap Aarhus</a>, a series of outreach events taking place downtown at a pub bringing cosmic science to the people by explaining complex astronomy topics in clear presentations in the comfortable environment of a bar.</li>
					</ul>
					<h4 class="category-heading alt-font">In the media</h4>
					<ul class="list-group">
						<li class="list-group-item border-0"><a href="https://blog.bham.ac.uk/bear/2024/06/24/3862/" target="_blank"><i>Studying stars across the Milky Way with BEAR</i>, Birmingham Environment for Academic Research</a></li> 
						<li class="list-group-item border-0"><a href="https://kvinderifysik.dk/2023/11/13/interview-with-kif-prize-winner-2023-amalie-stokholm/" target="_blank"><i>Interview with KIF Prize Winner 2023 Amalie Stokholm</i>, kvinderifysik.dk</a></li> 
						<li class="list-group-item border-0"><a href="https://videnskab.dk/rummet/mysteriet-om-planeten-der-ikke-burde-eksistere/" target="_blank"><i>Mysteriet om planeten, der ikke burde eksistere</i>, videnskab.dk</a></li> 
						<li class="list-group-item border-0"><a href="https://videnskab.dk/rummet/astronomer-opdager-planet-der-ikke-burde-kunne-eksistere/" target="_blank"><i>Astronomer opdager planet, der ikke burde kunne eksistere</i>, videnskab.dk</a></li> 
						<li class="list-group-item border-0">Guest space expert on Radio 4, talking about the ESA space mission <a href="https://www.cosmos.esa.int/web/gaia" target="_blank"><i>Gaia</i></a> and their third data release and how it affect the subfield of physics known as Galactic archaeology.
						<li class="list-group-item border-0"><a href="https://www.dr.dk/nyheder/viden/teknologi/oldgammel-stjerne-gemte-paa-hemmelighed-blev-dannet-da-galakser-kolliderede" target="_blank"><i>Oldgammel stjerne gemte på hemmelighed: Blev dannet da galakser kolliderede</i>, Danmarks radio, dr.dk</a></li>
						<li class="list-group-item border-0"><a href="https://astrobites.org/2019/08/16/subgiant-in-the-spotlight-characterising-a-new-benchmark-star/" target="_blank"><i>Subgiant in the spotlight: characterising a new benchmark star</i>, Astrobites</a></li>
						<li class="list-group-item border-0">Guest space expert on DR Television News and <a href="www.dr.dk/radio/p4aarhus/p4aarhus-morgen-radio/p4-morgen-2018-07-11-06-05-2" target="_blank">Radio Program 4</a>, talking about the NASA space mission <a href="https://science.nasa.gov/mission/tess/" target="_blank"><i>TESS</i></a> and its influence on stellar and exoplanetary research.
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
