<section id="outreach" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-rocket"></i> Outreach & Press</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					<h4 class="category-heading alt-font">Outreach and talks</h4>
					<ul class="list-group">
						<li class="list-group-item border-0">Lecturer in the lecture series <i>Universets gåder</i> (en: <i>Riddles of the Universe</i>) at <a href="fuau.dk">Folkeuniversitetet</a> on the topic of <i>Hvordan er vores egen Galakse blevet til?</i> (en: <i>How has our own Galaxy come to be?</i></li>
						<li class="list-group-item border-0">Speaker at <a href="https://astronomyontap.org/locations/aarhus-denmark/">Astronomy on Tap Aarhus</a>, a series of outreach events taking place downtown at a pub bringing cosmic science to the people by explaining complex astronomy topics in clear presentations in the comfortable environment of a bar.</li>
					</ul>
					<h4 class="category-heading alt-font">Press releases</h4>
					<ul class="list-group">
						<li class="list-group-item border-0"><i>Oldgammel stjerne gemte på hemmelighed: Blev dannet da galakser kolliderede</i>, <a href="https://www.dr.dk/nyheder/viden/teknologi/oldgammel-stjerne-gemte-paa-hemmelighed-blev-dannet-da-galakser-kolliderede">Danmarks radio, dr.dk</a></li>
						<li class="list-group-item border-0"><i>Subgiant in the spotlight: characterising a new benchmark star</i>, <a href="https://astrobites.org/2019/08/16/subgiant-in-the-spotlight-characterising-a-new-benchmark-star/">Astrobites</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
