<section id="publications" class="content-section">
	<div class="content-section-b">
		<div class="container">
			<div id="about_change" class="row">
				<h2 class="category-heading alt-font"><i class="fa fa-map-o"></i> Recent publications</h2>
			</div>
			<div class="row">
				<hr class="section-heading-spacer" align="left">
				<div class="clearfix"></div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					{% include publications_ads.html %}
					<br>
					A full list of my publications can be found at <a href="https://ui.adsabs.harvard.edu/public-libraries/VoJI-I0hQmeylc72urzhUw" target="_blank">my ADS library</a>.
				</div>
			</div>
		</div>
	</div>
</section>
