<ul>
<li><a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.540.1909S/abstract" target="_blank">
TOI-6478 b: a cold underdense Neptune transiting a fully convective M dwarf from the thick disc</a>
<br>

 Madison G. Scott,  Amaury H. M. J. Triaud,  Khalid Barkaoui,  Daniel Sebastian et al.
<br>
Published 2025-06
in Monthly Notices of the Royal Astronomical Society
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2025AJ....169..322N/abstract" target="_blank">
Asteroseismology with PBjam 2.0: Measuring Dipole Mode Frequencies in Coupling Regimes from Main-sequence to Low-luminosity Red Giant Stars</a>
<br>

 M. B. Nielsen,  J. M. J. Ong,  E. J. Hatt,  G. R. Davies et al.
<br>
Published 2025-06
in The Astronomical Journal
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2025ExA....59...26R/abstract" target="_blank">
The PLATO mission</a>
<br>

 Heike Rauer,  Conny Aerts,  Juan Cabrera,  Magali Deleuil et al.
<br>
Published 2025-06
in Experimental Astronomy
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.tmp..794W/abstract" target="_blank">
Asteroseismology of the Ancient Naked-Eye Exoplanet Host Star ν&lt;SUP&gt;2&lt;/SUP&gt; Lupi</a>
<br>

 Angharad Weeks,  Daniel Huber,  Amalie Stokholm,  Martin Bo Nielsen et al.
<br>
Published 2025-05
in Monthly Notices of the Royal Astronomical Society
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2025A&amp;A...697A.153L/abstract" target="_blank">
Pushing the boundaries of asteroseismic individual frequency modelling: Unveiling two evolved very low-metallicity red giants</a>
<br>

 J. R. Larsen,  J. L. Rørsted,  V. Aguirre Børsen-Koch,  M. S. Lundkvist et al.
<br>
Published 2025-05
in Astronomy and Astrophysics
</li>
</ul>
