<ul>
<li><a href="https://ui.adsabs.harvard.edu/abs/2022arXiv220407597S/abstract" target="_blank">
Disc dichotomy signature in the vertical distribution of [Mg/Fe] and the delayed gas infall scenario</a>
<br>

 E. Spitoni,  V. Aguirre Børsen-Koch,  K. Verma et al.
<br>
Published 2022-04
in arXiv e-prints
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.509.4344A/abstract" target="_blank">
The BAyesian STellar algorithm (BASTA): a fitting tool for stellar studies, asteroseismology, exoplanets, and Galactic archaeology</a>
<br>

 V. Aguirre Børsen-Koch,  J. L. Rørsted,  A. B. Justesen et al.
<br>
Published 2022-01
in Monthly Notices of the Royal Astronomical Society
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2021MNRAS.508.5864C/abstract" target="_blank">
PLATO hare-and-hounds exercise: asteroseismic model fitting of main-sequence solar-like pulsators</a>
<br>

 M. S. Cunha,  I. W. Roxburgh,  V. Aguirre Børsen-Koch et al.
<br>
Published 2021-12
in Monthly Notices of the Royal Astronomical Society
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2021arXiv211101669B/abstract" target="_blank">
Age Determination of Galaxy Merger Remnant Stars using Asteroseismology</a>
<br>

 Camilla C. Borre,  Víctor Aguirre Børsen-Koch,  Amina Helmi et al.
<br>
Published 2021-11
in arXiv e-prints
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2021MNRAS.506..759V/abstract" target="_blank">
An observational testbed for cosmological zoom-in simulations: constraining stellar migration in the solar cylinder using asteroseismology</a>
<br>

 Kuldeep Verma,  Robert J. J. Grand,  Víctor Silva Aguirre et al.
<br>
Published 2021-09
in Monthly Notices of the Royal Astronomical Society
</li>
</ul>
