<ul>
<li><a href="https://ui.adsabs.harvard.edu/abs/2024A&amp;A...688A..13L/abstract" target="_blank">
The K2 Asteroseismic KEYSTONE sample of Dwarf and Subgiant Solar-Like Oscillators. I. Data and Asteroseismic parameters</a>
<br>

 Mikkel N. Lund,  Sarbani Basu,  Allyson Bieryla,  Luca Casagrande et al.
<br>
Published 2024-08
in Astronomy and Astrophysics
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240805482M/abstract" target="_blank">
TESS asteroseismology of $\beta$ Hydri: a subgiant with a born-again dynamo</a>
<br>

 Travis S. Metcalfe,  Jennifer L. van Saders,  Daniel Huber,  Derek Buzasi et al.
<br>
Published 2024-08
in arXiv e-prints
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240605447R/abstract" target="_blank">
The PLATO Mission</a>
<br>

 Heike Rauer,  Conny Aerts,  Juan Cabrera,  Magali Deleuil et al.
<br>
Published 2024-06
in arXiv e-prints
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2024A&amp;A...684A..37C/abstract" target="_blank">
A Walk on the Retrograde Side (WRS) project. I. Tidying-up the retrograde halo with high-resolution spectroscopy</a>
<br>

 E. Ceccarelli,  D. Massari,  A. Mucciarelli,  M. Bellazzini et al.
<br>
Published 2024-04
in Astronomy and Astrophysics
</li>
<li><a href="https://ui.adsabs.harvard.edu/abs/2024A&amp;A...683A.111G/abstract" target="_blank">
K2 results for &quot;young&quot; α-rich stars in the Galaxy</a>
<br>

 V. Grisoni,  C. Chiappini,  A. Miglio,  K. Brogaard et al.
<br>
Published 2024-03
in Astronomy and Astrophysics
</li>
</ul>
