<section id="research">
<!-- Page Content -->
{% for post in site.posts reversed %}
    {% if post.category contains 'Science'%}
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <h2 class="category-heading alt-font">{{ post.category }}</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="section-heading">{{ post.title }}</h2>
                        <div class="lead">{{ post.content }}</div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->
    {% endif %}
{% endfor %}
</section>
